@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);


header {
  background: url(../images/cover_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  height: 100vh;
}

nav {
    padding: 20px;
}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

#wrapper{
	background-color: #FFC675;
}

#hero_image{
	padding: 40px;
}

#work{
	background-color: #CC6600;
}

#services{
	background-color: #FF00CC;
	border: 1px black solid;
	padding: 20px;
}
.column{
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

#print {
	background-color: violet;
	border: 1px black solid;
	padding: 10px;
	float: left;
	width: 47%;
	margin: 5px;
}	

#online {
	background-color: #EffB88;
	border: 1px black solid;
	padding: 10px;
	float: left;
	width: 47%;
	margin: 5px;
}

#about{
	background-color: #0099CC;
	clear: both;
}
#contact{
	background-color: #390099;
}

body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    z-index:-1;
}

  body{
	font-family: 'Open Sans';
	font-weight: 400;
 	 vertical-align: middle;
  	color: #fff;
}


h1  {
	font-size: 2em;
	text-align: center;
	font-family: 'Roboto Slab';
	font-weight: 700;
}

h2 {
	text-align: center;
	font-size: 1.25em;
	font-family: 'Roboto Slab';
	font-weight: 400;
}

h3 {
	text-align: center;
	font-size: 1.1em;
	font-family: 'Roboto Slab';
	font-weight: 400;
}

#slogan {
	text-align: center;
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 4em;
	margin-top: 200px;
	text-shadow: 3px 3px #000;
}

#navstyle {
	text-align: left;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 1em;
	padding: 10px;
}

#logo {
	float: left;
}

#workbutton {
	float: right;
	padding: 20px;
	background-color: rgba(255,255,255,.7); 
}
#workbutton:hover {
	background-color: rgba(255,255,255,.4); 
}

#servicesbutton {
	float: right;
	padding: 20px;
	background-color: rgba(255,255,255,.7);
}

#servicesbutton:hover {
	background-color: rgba(255,255,255,.4); 
}


#aboutbutton {
	float: right;
	padding:  20px;
	background-color: rgba(255,255,255,.7);
}

#aboutbutton:hover {
	background-color: rgba(255,255,255,.4); 
}

#contactbutton {
	float: right;
	padding: 20px;
	background-color: rgba(255,255,255,.7);
}

#contactbutton:hover {
	background-color: rgba(255,255,255,.4); 
}


#button {
	text-align: center;
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 1em;
}

p {
	text-align: center;
	font-size: 1em;
}

ul {
	font-size: 1em;
	text-align: center;
	list-style-type: none;
	display: inline;
	margin: 0px;
	padding: 0px;
}


div.boxed {
	border: solid 1px #fff;
	display: table;
	padding: 5px;
	margin: 50px auto 50px auto;
}

.boxed:hover{
	background-color: rgba(0,0,0,.5);
}

#headline {
	padding: 300px;
}


#description {
	margin-left: 100px;
	margin-right: 100px;
}

a {
	color: #ffd9f1;
}

#buttonlink {
	color: black;
    text-decoration: none;
}
#workbuttonlink {
	color: white;
    text-decoration: none;
}
.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 0px 0px;
	height: 75px
}

.images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
}

.portfolio_image {
	display: inline;
	margin: 10px;
	border: 1px black solid;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#get_in_touch {
	float: left;
	padding: 10px;
	width: 30%;
}

#social {
	float: left;
	padding: 10px;
	width: 30%;
}

#quick_contact {
	float: left;
	padding: 10px;
	width: 30%;
}